<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackers.intj.mchackspokedex" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
  </intent-filter>
        </activity>
        <activity
            android:name=".PokedexActivity"
            android:label="@string/pokedex_view"
            android:windowSoftInputMode="stateHidden">
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackers.intj.mchackspokedex.MainActivity"
                />

        </activity>
            <activity
            android:name=".DetailedPokemonActivity"
            android:label="@string/pokedex_view_detailed" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackers.intj.mchackspokedex.PokedexActivity" />
        </activity>

        <activity
            android:name=".WIPActivity"
            android:label="@string/wip_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackers.intj.mchackspokedex.MainActivity" />
        </activity>


    </application>




 </manifest>
