<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.quadphase.qpdex"
    android:installLocation="preferExternal" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PokedexActivity"
            android:label="@string/title_activity_pokedex"
            android:parentActivityName=".IntroActivity"
            android:windowSoftInputMode="adjustNothing" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroActivity" />
        </activity>
        <activity
            android:name=".DetailedPokemonActivity"
            android:label="@string/title_activity_detailed_pokemon"
            android:parentActivityName=".PokedexActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.quadphase.qpdex.PokedexActivity" />
        </activity>
        <activity
            android:name=".WIPActivity"
            android:label="@string/title_activity_wip"
            android:parentActivityName=".IntroActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroActivity" />
        </activity>
        <activity
            android:name=".ExceptionCaughtActivity"
            android:label="@string/title_activity_exception_caught" >
        </activity>
        <activity
            android:name=".PokemonResources"
            android:label="@string/title_activity_pokemon_resources"
            android:parentActivityName=".IntroActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.quadphase.qpdex.IntroActivity" />
        </activity>
        <activity
            android:name=".AdvancedSearchActivity"
            android:label="@string/title_activity_advanced_search"
            android:parentActivityName=".IntroActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.quadphase.qpdex.IntroActivity" />
        </activity>
    </application>

</manifest>
